db_files
*.iml
.project
.classpath
.project.properties
gen/
tests/stress/gen/
WallpaperPicker/gen/
WallpaperPicker/.project.properties
bin/
out/
.gitignore~
.idea/
tests/
*.gradle~
.gradle/
build/
*/build/
*.properties~
local.properties
*.pro~
*.xml~
*.md~
*.DS_Store
LICENSE~
*/gen/
keystore.jks
